workflows/task_notifier_workflow.json
{
  "id": "CivjtTIT6fUFPWkb",
  "name": "Task Notifier — Daily Summary",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Disparador Diario 07AM",
      "position": [
        240,
        304
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "TU_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "mode": "name",
          "value": "Tareas_Pendientes"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "maxTries": 3,
      "name": "Obtener Tareas Google Sheets",
      "position": [
        464,
        304
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "f1-estado-not-completado",
              "leftValue": "={{ $json.estado }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "Completado"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Filtrar Pendientes",
      "position": [
        688,
        304
      ],
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "==Eres un asistente ejecutivo. Se te entrega una lista JSON de tareas pendientes y en progreso.\nGenera ÚNICAMENTE código HTML semántico para un correo electrónico.\n\nREGLAS:\n- Sin etiquetas html/head/body, solo contenido interno.\n- <h1> para el título.\n- Sección <h2 style=\"color:red\"> PRIORIDAD ALTA primero.\n- Sección <h2 style=\"color:orange\"> PRIORIDAD MEDIA después.\n- Sección <h2 style=\"color:blue\"> PRIORIDAD BAJA al final.\n- <ul><li> por tarea: <strong>titulo</strong>, descripcion, fecha_limite, estado, categoria.\n- <p> final con total de tareas y cuántas son Alta.\n- Tono formal y asertivo.\n\nDatos JSON:\n{{ JSON.stringify($input.all().map(i => i.json)) }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "maxTries": 3,
      "name": "Generar Resumen Gemini",
      "position": [
        912,
        304
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "waitBetweenTries": 5000,
      "executeOnce": true
    },
    {
      "parameters": {
        "sendTo": "destinatario@example.com",
        "subject": "=[Resumen de Tareas] Diarias - {{ $now.toFormat('yyyy-MM-dd') }}",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "maxTries": 3,
      "name": "Enviar Correo Diario",
      "position": [
        1296,
        304
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "waitBetweenTries": 5000,
      "webhookId": "fec19274-65ec-4e55-abe5-48f8dbfbe39a",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-1",
              "name": "errorMessage",
              "type": "string",
              "value": "={{ $json.error?.message || 'Error desconocido en Gmail' }}"
            },
            {
              "id": "err-2",
              "name": "workflowName",
              "type": "string",
              "value": "Task Notifier — Daily Summary"
            },
            {
              "id": "err-3",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Notificar Error de Envio",
      "position": [
        1568,
        400
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "value": "TU_EVALUATION_DATASET_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 568061746,
          "mode": "list"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.7,
      "position": [
        736,
        496
      ],
      "id": "4fcda0d3-9c8f-46a6-abb0-764c4a846a6c",
      "name": "When fetching a dataset row"
    },
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "value": "TU_EVALUATION_DATASET_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 568061746,
          "mode": "list"
        },
        "outputs": {
          "values": [
            {
              "outputName": "generated_html",
              "outputValue": "={{ $('Generar Resumen Gemini').item.json.content.parts[0].text }}"
            },
            {
              "outputName": "generated_email",
              "outputValue": "={{ $json.labelIds[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        1568,
        240
      ],
      "id": "e33f421d-522b-4bdb-bc22-8fc08b3861eb",
      "name": "Evaluation1"
    }
  ],
  "connections": {
    "Disparador Diario 07AM": {
      "main": [
        [
          {
            "index": 0,
            "node": "Obtener Tareas Google Sheets",
            "type": "main"
          }
        ]
      ]
    },
    "Enviar Correo Diario": {
      "main": [
        [
          {
            "node": "Evaluation1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "index": 0,
            "node": "Notificar Error de Envio",
            "type": "main"
          }
        ]
      ]
    },
    "Filtrar Pendientes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Generar Resumen Gemini",
            "type": "main"
          }
        ]
      ]
    },
    "Generar Resumen Gemini": {
      "main": [
        [
          {
            "index": 0,
            "node": "Enviar Correo Diario",
            "type": "main"
          }
        ]
      ]
    },
    "Obtener Tareas Google Sheets": {
      "main": [
        [
          {
            "index": 0,
            "node": "Filtrar Pendientes",
            "type": "main"
          }
        ]
      ]
    },
    "When fetching a dataset row": {
      "main": [
        [
          {
            "node": "Generar Resumen Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Caracas",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "errorWorkflow": "A4gFgfKj9TV4Kbus",
    "timeSavedPerExecution": 1
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {}
}